src/main/app/mule-sfdc-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml" 
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
        http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd">

	<description>
		Tool generated config
	</description>


<!-- Config for User # 1 -->
	<sfdc:config name="config-user1" username="testuser1@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow1">
        <sfdc:subscribe-topic config-ref="config-user1" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser1@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow1">
        <sfdc:subscribe-topic config-ref="config-user1" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser1@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow1">
        <sfdc:subscribe-topic config-ref="config-user1" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser1@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow1">
        <sfdc:subscribe-topic config-ref="config-user1" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser1@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 2 -->
	<sfdc:config name="config-user2" username="testuser2@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow2">
        <sfdc:subscribe-topic config-ref="config-user2" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser2@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow2">
        <sfdc:subscribe-topic config-ref="config-user2" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser2@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow2">
        <sfdc:subscribe-topic config-ref="config-user2" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser2@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow2">
        <sfdc:subscribe-topic config-ref="config-user2" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser2@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 3 -->
	<sfdc:config name="config-user3" username="testuser3@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow3">
        <sfdc:subscribe-topic config-ref="config-user3" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser3@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow3">
        <sfdc:subscribe-topic config-ref="config-user3" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser3@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow3">
        <sfdc:subscribe-topic config-ref="config-user3" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser3@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow3">
        <sfdc:subscribe-topic config-ref="config-user3" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser3@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 4 -->
	<sfdc:config name="config-user4" username="testuser4@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow4">
        <sfdc:subscribe-topic config-ref="config-user4" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser4@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow4">
        <sfdc:subscribe-topic config-ref="config-user4" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser4@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow4">
        <sfdc:subscribe-topic config-ref="config-user4" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser4@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow4">
        <sfdc:subscribe-topic config-ref="config-user4" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser4@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 5 -->
	<sfdc:config name="config-user5" username="testuser5@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow5">
        <sfdc:subscribe-topic config-ref="config-user5" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser5@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow5">
        <sfdc:subscribe-topic config-ref="config-user5" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser5@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow5">
        <sfdc:subscribe-topic config-ref="config-user5" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser5@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow5">
        <sfdc:subscribe-topic config-ref="config-user5" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser5@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 6 -->
	<sfdc:config name="config-user6" username="testuser6@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow6">
        <sfdc:subscribe-topic config-ref="config-user6" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser6@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow6">
        <sfdc:subscribe-topic config-ref="config-user6" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser6@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow6">
        <sfdc:subscribe-topic config-ref="config-user6" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser6@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow6">
        <sfdc:subscribe-topic config-ref="config-user6" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser6@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 7 -->
	<sfdc:config name="config-user7" username="testuser7@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow7">
        <sfdc:subscribe-topic config-ref="config-user7" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser7@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow7">
        <sfdc:subscribe-topic config-ref="config-user7" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser7@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow7">
        <sfdc:subscribe-topic config-ref="config-user7" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser7@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow7">
        <sfdc:subscribe-topic config-ref="config-user7" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser7@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 8 -->
	<sfdc:config name="config-user8" username="testuser8@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow8">
        <sfdc:subscribe-topic config-ref="config-user8" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser8@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow8">
        <sfdc:subscribe-topic config-ref="config-user8" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser8@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow8">
        <sfdc:subscribe-topic config-ref="config-user8" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser8@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow8">
        <sfdc:subscribe-topic config-ref="config-user8" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser8@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 9 -->
	<sfdc:config name="config-user9" username="testuser9@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow9">
        <sfdc:subscribe-topic config-ref="config-user9" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser9@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow9">
        <sfdc:subscribe-topic config-ref="config-user9" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser9@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow9">
        <sfdc:subscribe-topic config-ref="config-user9" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser9@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow9">
        <sfdc:subscribe-topic config-ref="config-user9" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser9@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 10 -->
	<sfdc:config name="config-user10" username="testuser10@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow10">
        <sfdc:subscribe-topic config-ref="config-user10" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser10@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow10">
        <sfdc:subscribe-topic config-ref="config-user10" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser10@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow10">
        <sfdc:subscribe-topic config-ref="config-user10" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser10@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow10">
        <sfdc:subscribe-topic config-ref="config-user10" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser10@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 11 -->
	<sfdc:config name="config-user11" username="testuser11@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow11">
        <sfdc:subscribe-topic config-ref="config-user11" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser11@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow11">
        <sfdc:subscribe-topic config-ref="config-user11" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser11@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow11">
        <sfdc:subscribe-topic config-ref="config-user11" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser11@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow11">
        <sfdc:subscribe-topic config-ref="config-user11" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser11@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 12 -->
	<sfdc:config name="config-user12" username="testuser12@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow12">
        <sfdc:subscribe-topic config-ref="config-user12" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser12@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow12">
        <sfdc:subscribe-topic config-ref="config-user12" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser12@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow12">
        <sfdc:subscribe-topic config-ref="config-user12" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser12@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow12">
        <sfdc:subscribe-topic config-ref="config-user12" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser12@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 13 -->
	<sfdc:config name="config-user13" username="testuser13@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow13">
        <sfdc:subscribe-topic config-ref="config-user13" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser13@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow13">
        <sfdc:subscribe-topic config-ref="config-user13" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser13@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow13">
        <sfdc:subscribe-topic config-ref="config-user13" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser13@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow13">
        <sfdc:subscribe-topic config-ref="config-user13" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser13@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 14 -->
	<sfdc:config name="config-user14" username="testuser14@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow14">
        <sfdc:subscribe-topic config-ref="config-user14" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser14@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow14">
        <sfdc:subscribe-topic config-ref="config-user14" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser14@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow14">
        <sfdc:subscribe-topic config-ref="config-user14" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser14@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow14">
        <sfdc:subscribe-topic config-ref="config-user14" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser14@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 15 -->
	<sfdc:config name="config-user15" username="testuser15@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow15">
        <sfdc:subscribe-topic config-ref="config-user15" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser15@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow15">
        <sfdc:subscribe-topic config-ref="config-user15" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser15@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow15">
        <sfdc:subscribe-topic config-ref="config-user15" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser15@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow15">
        <sfdc:subscribe-topic config-ref="config-user15" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser15@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 16 -->
	<sfdc:config name="config-user16" username="testuser16@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow16">
        <sfdc:subscribe-topic config-ref="config-user16" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser16@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow16">
        <sfdc:subscribe-topic config-ref="config-user16" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser16@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow16">
        <sfdc:subscribe-topic config-ref="config-user16" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser16@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow16">
        <sfdc:subscribe-topic config-ref="config-user16" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser16@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 17 -->
	<sfdc:config name="config-user17" username="testuser17@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow17">
        <sfdc:subscribe-topic config-ref="config-user17" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser17@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow17">
        <sfdc:subscribe-topic config-ref="config-user17" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser17@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow17">
        <sfdc:subscribe-topic config-ref="config-user17" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser17@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow17">
        <sfdc:subscribe-topic config-ref="config-user17" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser17@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 18 -->
	<sfdc:config name="config-user18" username="testuser18@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow18">
        <sfdc:subscribe-topic config-ref="config-user18" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser18@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow18">
        <sfdc:subscribe-topic config-ref="config-user18" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser18@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow18">
        <sfdc:subscribe-topic config-ref="config-user18" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser18@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow18">
        <sfdc:subscribe-topic config-ref="config-user18" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser18@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 19 -->
	<sfdc:config name="config-user19" username="testuser19@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow19">
        <sfdc:subscribe-topic config-ref="config-user19" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser19@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow19">
        <sfdc:subscribe-topic config-ref="config-user19" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser19@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow19">
        <sfdc:subscribe-topic config-ref="config-user19" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser19@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow19">
        <sfdc:subscribe-topic config-ref="config-user19" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser19@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 20 -->
	<sfdc:config name="config-user20" username="testuser20@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow20">
        <sfdc:subscribe-topic config-ref="config-user20" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser20@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow20">
        <sfdc:subscribe-topic config-ref="config-user20" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser20@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow20">
        <sfdc:subscribe-topic config-ref="config-user20" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser20@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow20">
        <sfdc:subscribe-topic config-ref="config-user20" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser20@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 21 -->
	<sfdc:config name="config-user21" username="testuser21@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow21">
        <sfdc:subscribe-topic config-ref="config-user21" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser21@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow21">
        <sfdc:subscribe-topic config-ref="config-user21" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser21@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow21">
        <sfdc:subscribe-topic config-ref="config-user21" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser21@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow21">
        <sfdc:subscribe-topic config-ref="config-user21" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser21@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 22 -->
	<sfdc:config name="config-user22" username="testuser22@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow22">
        <sfdc:subscribe-topic config-ref="config-user22" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser22@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow22">
        <sfdc:subscribe-topic config-ref="config-user22" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser22@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow22">
        <sfdc:subscribe-topic config-ref="config-user22" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser22@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow22">
        <sfdc:subscribe-topic config-ref="config-user22" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser22@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 23 -->
	<sfdc:config name="config-user23" username="testuser23@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow23">
        <sfdc:subscribe-topic config-ref="config-user23" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser23@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow23">
        <sfdc:subscribe-topic config-ref="config-user23" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser23@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow23">
        <sfdc:subscribe-topic config-ref="config-user23" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser23@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow23">
        <sfdc:subscribe-topic config-ref="config-user23" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser23@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 24 -->
	<sfdc:config name="config-user24" username="testuser24@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow24">
        <sfdc:subscribe-topic config-ref="config-user24" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser24@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow24">
        <sfdc:subscribe-topic config-ref="config-user24" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser24@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow24">
        <sfdc:subscribe-topic config-ref="config-user24" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser24@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow24">
        <sfdc:subscribe-topic config-ref="config-user24" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser24@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

<!-- Config for User # 25 -->
	<sfdc:config name="config-user25" username="testuser25@mulesoft.test"
                 password="mule2" securityToken="demo" />

    <flow name="topicAllAccountsFlow25">
        <sfdc:subscribe-topic config-ref="config-user25" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser25@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllCasesFlow25">
        <sfdc:subscribe-topic config-ref="config-user25" topic="/AllCases"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser25@mulesoft.test" />
			<add-message-property key="objecttype" value="case" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllOpportunitiesFlow25">
        <sfdc:subscribe-topic config-ref="config-user25" topic="/AllOpportunities"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser25@mulesoft.test" />
			<add-message-property key="objecttype" value="opportunity" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    
    <flow name="topicAllTypicalCustomObjectsFlow25">
        <sfdc:subscribe-topic config-ref="config-user25" topic="/AllTypicalCustomObjects"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser25@mulesoft.test" />
			<add-message-property key="objecttype" value="typicalcustomobject" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>

	
</mule>
