src/main/app/mule-sfdc-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml" 
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
        http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd">

	<description>
		Tool generated config
	</description>


<!-- Config for User # 1 -->
	<sfdc:config name="config-user1" username="testuser1@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow1">
        <sfdc:subscribe-topic config-ref="config-user1" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser1@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 2 -->
	<sfdc:config name="config-user2" username="testuser2@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow2">
        <sfdc:subscribe-topic config-ref="config-user2" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser2@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 3 -->
	<sfdc:config name="config-user3" username="testuser3@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow3">
        <sfdc:subscribe-topic config-ref="config-user3" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser3@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 4 -->
	<sfdc:config name="config-user4" username="testuser4@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow4">
        <sfdc:subscribe-topic config-ref="config-user4" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser4@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 5 -->
	<sfdc:config name="config-user5" username="testuser5@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow5">
        <sfdc:subscribe-topic config-ref="config-user5" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser5@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 6 -->
	<sfdc:config name="config-user6" username="testuser6@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow6">
        <sfdc:subscribe-topic config-ref="config-user6" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser6@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 7 -->
	<sfdc:config name="config-user7" username="testuser7@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow7">
        <sfdc:subscribe-topic config-ref="config-user7" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser7@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 8 -->
	<sfdc:config name="config-user8" username="testuser8@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow8">
        <sfdc:subscribe-topic config-ref="config-user8" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser8@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 9 -->
	<sfdc:config name="config-user9" username="testuser9@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow9">
        <sfdc:subscribe-topic config-ref="config-user9" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser9@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 10 -->
	<sfdc:config name="config-user10" username="testuser10@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow10">
        <sfdc:subscribe-topic config-ref="config-user10" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser10@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 11 -->
	<sfdc:config name="config-user11" username="testuser11@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow11">
        <sfdc:subscribe-topic config-ref="config-user11" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser11@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 12 -->
	<sfdc:config name="config-user12" username="testuser12@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow12">
        <sfdc:subscribe-topic config-ref="config-user12" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser12@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 13 -->
	<sfdc:config name="config-user13" username="testuser13@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow13">
        <sfdc:subscribe-topic config-ref="config-user13" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser13@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 14 -->
	<sfdc:config name="config-user14" username="testuser14@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow14">
        <sfdc:subscribe-topic config-ref="config-user14" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser14@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 15 -->
	<sfdc:config name="config-user15" username="testuser15@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow15">
        <sfdc:subscribe-topic config-ref="config-user15" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser15@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 16 -->
	<sfdc:config name="config-user16" username="testuser16@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow16">
        <sfdc:subscribe-topic config-ref="config-user16" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser16@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 17 -->
	<sfdc:config name="config-user17" username="testuser17@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow17">
        <sfdc:subscribe-topic config-ref="config-user17" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser17@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 18 -->
	<sfdc:config name="config-user18" username="testuser18@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow18">
        <sfdc:subscribe-topic config-ref="config-user18" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser18@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 19 -->
	<sfdc:config name="config-user19" username="testuser19@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow19">
        <sfdc:subscribe-topic config-ref="config-user19" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser19@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 20 -->
	<sfdc:config name="config-user20" username="testuser20@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow20">
        <sfdc:subscribe-topic config-ref="config-user20" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser20@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 21 -->
	<sfdc:config name="config-user21" username="testuser21@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow21">
        <sfdc:subscribe-topic config-ref="config-user21" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser21@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 22 -->
	<sfdc:config name="config-user22" username="testuser22@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow22">
        <sfdc:subscribe-topic config-ref="config-user22" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser22@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 23 -->
	<sfdc:config name="config-user23" username="testuser23@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow23">
        <sfdc:subscribe-topic config-ref="config-user23" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser23@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 24 -->
	<sfdc:config name="config-user24" username="testuser24@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow24">
        <sfdc:subscribe-topic config-ref="config-user24" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser24@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 25 -->
	<sfdc:config name="config-user25" username="testuser25@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow25">
        <sfdc:subscribe-topic config-ref="config-user25" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser25@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 26 -->
	<sfdc:config name="config-user26" username="testuser26@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow26">
        <sfdc:subscribe-topic config-ref="config-user26" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser26@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 27 -->
	<sfdc:config name="config-user27" username="testuser27@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow27">
        <sfdc:subscribe-topic config-ref="config-user27" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser27@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 28 -->
	<sfdc:config name="config-user28" username="testuser28@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow28">
        <sfdc:subscribe-topic config-ref="config-user28" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser28@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 29 -->
	<sfdc:config name="config-user29" username="testuser29@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow29">
        <sfdc:subscribe-topic config-ref="config-user29" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser29@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 30 -->
	<sfdc:config name="config-user30" username="testuser30@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow30">
        <sfdc:subscribe-topic config-ref="config-user30" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser30@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 31 -->
	<sfdc:config name="config-user31" username="testuser31@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow31">
        <sfdc:subscribe-topic config-ref="config-user31" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser31@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 32 -->
	<sfdc:config name="config-user32" username="testuser32@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow32">
        <sfdc:subscribe-topic config-ref="config-user32" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser32@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 33 -->
	<sfdc:config name="config-user33" username="testuser33@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow33">
        <sfdc:subscribe-topic config-ref="config-user33" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser33@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 34 -->
	<sfdc:config name="config-user34" username="testuser34@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow34">
        <sfdc:subscribe-topic config-ref="config-user34" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser34@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 35 -->
	<sfdc:config name="config-user35" username="testuser35@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow35">
        <sfdc:subscribe-topic config-ref="config-user35" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser35@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 36 -->
	<sfdc:config name="config-user36" username="testuser36@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow36">
        <sfdc:subscribe-topic config-ref="config-user36" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser36@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 37 -->
	<sfdc:config name="config-user37" username="testuser37@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow37">
        <sfdc:subscribe-topic config-ref="config-user37" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser37@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 38 -->
	<sfdc:config name="config-user38" username="testuser38@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow38">
        <sfdc:subscribe-topic config-ref="config-user38" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser38@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 39 -->
	<sfdc:config name="config-user39" username="testuser39@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow39">
        <sfdc:subscribe-topic config-ref="config-user39" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser39@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 40 -->
	<sfdc:config name="config-user40" username="testuser40@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow40">
        <sfdc:subscribe-topic config-ref="config-user40" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser40@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 41 -->
	<sfdc:config name="config-user41" username="testuser41@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow41">
        <sfdc:subscribe-topic config-ref="config-user41" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser41@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 42 -->
	<sfdc:config name="config-user42" username="testuser42@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow42">
        <sfdc:subscribe-topic config-ref="config-user42" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser42@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 43 -->
	<sfdc:config name="config-user43" username="testuser43@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow43">
        <sfdc:subscribe-topic config-ref="config-user43" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser43@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 44 -->
	<sfdc:config name="config-user44" username="testuser44@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow44">
        <sfdc:subscribe-topic config-ref="config-user44" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser44@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 45 -->
	<sfdc:config name="config-user45" username="testuser45@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow45">
        <sfdc:subscribe-topic config-ref="config-user45" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser45@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 46 -->
	<sfdc:config name="config-user46" username="testuser46@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow46">
        <sfdc:subscribe-topic config-ref="config-user46" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser46@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 47 -->
	<sfdc:config name="config-user47" username="testuser47@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow47">
        <sfdc:subscribe-topic config-ref="config-user47" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser47@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 48 -->
	<sfdc:config name="config-user48" username="testuser48@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow48">
        <sfdc:subscribe-topic config-ref="config-user48" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser48@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 49 -->
	<sfdc:config name="config-user49" username="testuser49@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow49">
        <sfdc:subscribe-topic config-ref="config-user49" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser49@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 50 -->
	<sfdc:config name="config-user50" username="testuser50@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow50">
        <sfdc:subscribe-topic config-ref="config-user50" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser50@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 51 -->
	<sfdc:config name="config-user51" username="testuser51@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow51">
        <sfdc:subscribe-topic config-ref="config-user51" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser51@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 52 -->
	<sfdc:config name="config-user52" username="testuser52@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow52">
        <sfdc:subscribe-topic config-ref="config-user52" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser52@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 53 -->
	<sfdc:config name="config-user53" username="testuser53@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow53">
        <sfdc:subscribe-topic config-ref="config-user53" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser53@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 54 -->
	<sfdc:config name="config-user54" username="testuser54@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow54">
        <sfdc:subscribe-topic config-ref="config-user54" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser54@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 55 -->
	<sfdc:config name="config-user55" username="testuser55@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow55">
        <sfdc:subscribe-topic config-ref="config-user55" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser55@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 56 -->
	<sfdc:config name="config-user56" username="testuser56@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow56">
        <sfdc:subscribe-topic config-ref="config-user56" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser56@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 57 -->
	<sfdc:config name="config-user57" username="testuser57@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow57">
        <sfdc:subscribe-topic config-ref="config-user57" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser57@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 58 -->
	<sfdc:config name="config-user58" username="testuser58@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow58">
        <sfdc:subscribe-topic config-ref="config-user58" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser58@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 59 -->
	<sfdc:config name="config-user59" username="testuser59@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow59">
        <sfdc:subscribe-topic config-ref="config-user59" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser59@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 60 -->
	<sfdc:config name="config-user60" username="testuser60@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow60">
        <sfdc:subscribe-topic config-ref="config-user60" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser60@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 61 -->
	<sfdc:config name="config-user61" username="testuser61@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow61">
        <sfdc:subscribe-topic config-ref="config-user61" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser61@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 62 -->
	<sfdc:config name="config-user62" username="testuser62@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow62">
        <sfdc:subscribe-topic config-ref="config-user62" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser62@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 63 -->
	<sfdc:config name="config-user63" username="testuser63@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow63">
        <sfdc:subscribe-topic config-ref="config-user63" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser63@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 64 -->
	<sfdc:config name="config-user64" username="testuser64@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow64">
        <sfdc:subscribe-topic config-ref="config-user64" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser64@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 65 -->
	<sfdc:config name="config-user65" username="testuser65@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow65">
        <sfdc:subscribe-topic config-ref="config-user65" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser65@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 66 -->
	<sfdc:config name="config-user66" username="testuser66@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow66">
        <sfdc:subscribe-topic config-ref="config-user66" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser66@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 67 -->
	<sfdc:config name="config-user67" username="testuser67@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow67">
        <sfdc:subscribe-topic config-ref="config-user67" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser67@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 68 -->
	<sfdc:config name="config-user68" username="testuser68@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow68">
        <sfdc:subscribe-topic config-ref="config-user68" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser68@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 69 -->
	<sfdc:config name="config-user69" username="testuser69@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow69">
        <sfdc:subscribe-topic config-ref="config-user69" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser69@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 70 -->
	<sfdc:config name="config-user70" username="testuser70@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow70">
        <sfdc:subscribe-topic config-ref="config-user70" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser70@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 71 -->
	<sfdc:config name="config-user71" username="testuser71@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow71">
        <sfdc:subscribe-topic config-ref="config-user71" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser71@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 72 -->
	<sfdc:config name="config-user72" username="testuser72@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow72">
        <sfdc:subscribe-topic config-ref="config-user72" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser72@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 73 -->
	<sfdc:config name="config-user73" username="testuser73@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow73">
        <sfdc:subscribe-topic config-ref="config-user73" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser73@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 74 -->
	<sfdc:config name="config-user74" username="testuser74@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow74">
        <sfdc:subscribe-topic config-ref="config-user74" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser74@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 75 -->
	<sfdc:config name="config-user75" username="testuser75@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow75">
        <sfdc:subscribe-topic config-ref="config-user75" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser75@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 76 -->
	<sfdc:config name="config-user76" username="testuser76@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow76">
        <sfdc:subscribe-topic config-ref="config-user76" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser76@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 77 -->
	<sfdc:config name="config-user77" username="testuser77@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow77">
        <sfdc:subscribe-topic config-ref="config-user77" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser77@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 78 -->
	<sfdc:config name="config-user78" username="testuser78@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow78">
        <sfdc:subscribe-topic config-ref="config-user78" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser78@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 79 -->
	<sfdc:config name="config-user79" username="testuser79@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow79">
        <sfdc:subscribe-topic config-ref="config-user79" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser79@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 80 -->
	<sfdc:config name="config-user80" username="testuser80@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow80">
        <sfdc:subscribe-topic config-ref="config-user80" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser80@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 81 -->
	<sfdc:config name="config-user81" username="testuser81@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow81">
        <sfdc:subscribe-topic config-ref="config-user81" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser81@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 82 -->
	<sfdc:config name="config-user82" username="testuser82@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow82">
        <sfdc:subscribe-topic config-ref="config-user82" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser82@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 83 -->
	<sfdc:config name="config-user83" username="testuser83@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow83">
        <sfdc:subscribe-topic config-ref="config-user83" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser83@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 84 -->
	<sfdc:config name="config-user84" username="testuser84@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow84">
        <sfdc:subscribe-topic config-ref="config-user84" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser84@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 85 -->
	<sfdc:config name="config-user85" username="testuser85@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow85">
        <sfdc:subscribe-topic config-ref="config-user85" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser85@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 86 -->
	<sfdc:config name="config-user86" username="testuser86@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow86">
        <sfdc:subscribe-topic config-ref="config-user86" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser86@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 87 -->
	<sfdc:config name="config-user87" username="testuser87@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow87">
        <sfdc:subscribe-topic config-ref="config-user87" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser87@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 88 -->
	<sfdc:config name="config-user88" username="testuser88@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow88">
        <sfdc:subscribe-topic config-ref="config-user88" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser88@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 89 -->
	<sfdc:config name="config-user89" username="testuser89@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow89">
        <sfdc:subscribe-topic config-ref="config-user89" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser89@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 90 -->
	<sfdc:config name="config-user90" username="testuser90@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow90">
        <sfdc:subscribe-topic config-ref="config-user90" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser90@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 91 -->
	<sfdc:config name="config-user91" username="testuser91@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow91">
        <sfdc:subscribe-topic config-ref="config-user91" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser91@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 92 -->
	<sfdc:config name="config-user92" username="testuser92@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow92">
        <sfdc:subscribe-topic config-ref="config-user92" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser92@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 93 -->
	<sfdc:config name="config-user93" username="testuser93@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow93">
        <sfdc:subscribe-topic config-ref="config-user93" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser93@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 94 -->
	<sfdc:config name="config-user94" username="testuser94@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow94">
        <sfdc:subscribe-topic config-ref="config-user94" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser94@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 95 -->
	<sfdc:config name="config-user95" username="testuser95@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow95">
        <sfdc:subscribe-topic config-ref="config-user95" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser95@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 96 -->
	<sfdc:config name="config-user96" username="testuser96@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow96">
        <sfdc:subscribe-topic config-ref="config-user96" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser96@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 97 -->
	<sfdc:config name="config-user97" username="testuser97@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow97">
        <sfdc:subscribe-topic config-ref="config-user97" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser97@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 98 -->
	<sfdc:config name="config-user98" username="testuser98@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow98">
        <sfdc:subscribe-topic config-ref="config-user98" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser98@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 99 -->
	<sfdc:config name="config-user99" username="testuser99@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow99">
        <sfdc:subscribe-topic config-ref="config-user99" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser99@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 100 -->
	<sfdc:config name="config-user100" username="testuser100@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow100">
        <sfdc:subscribe-topic config-ref="config-user100" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser100@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 101 -->
	<sfdc:config name="config-user101" username="testuser101@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow101">
        <sfdc:subscribe-topic config-ref="config-user101" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser101@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 102 -->
	<sfdc:config name="config-user102" username="testuser102@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow102">
        <sfdc:subscribe-topic config-ref="config-user102" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser102@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 103 -->
	<sfdc:config name="config-user103" username="testuser103@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow103">
        <sfdc:subscribe-topic config-ref="config-user103" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser103@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 104 -->
	<sfdc:config name="config-user104" username="testuser104@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow104">
        <sfdc:subscribe-topic config-ref="config-user104" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser104@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 105 -->
	<sfdc:config name="config-user105" username="testuser105@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow105">
        <sfdc:subscribe-topic config-ref="config-user105" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser105@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 106 -->
	<sfdc:config name="config-user106" username="testuser106@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow106">
        <sfdc:subscribe-topic config-ref="config-user106" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser106@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 107 -->
	<sfdc:config name="config-user107" username="testuser107@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow107">
        <sfdc:subscribe-topic config-ref="config-user107" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser107@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 108 -->
	<sfdc:config name="config-user108" username="testuser108@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow108">
        <sfdc:subscribe-topic config-ref="config-user108" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser108@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 109 -->
	<sfdc:config name="config-user109" username="testuser109@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow109">
        <sfdc:subscribe-topic config-ref="config-user109" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser109@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 110 -->
	<sfdc:config name="config-user110" username="testuser110@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow110">
        <sfdc:subscribe-topic config-ref="config-user110" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser110@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 111 -->
	<sfdc:config name="config-user111" username="testuser111@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow111">
        <sfdc:subscribe-topic config-ref="config-user111" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser111@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 112 -->
	<sfdc:config name="config-user112" username="testuser112@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow112">
        <sfdc:subscribe-topic config-ref="config-user112" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser112@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 113 -->
	<sfdc:config name="config-user113" username="testuser113@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow113">
        <sfdc:subscribe-topic config-ref="config-user113" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser113@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 114 -->
	<sfdc:config name="config-user114" username="testuser114@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow114">
        <sfdc:subscribe-topic config-ref="config-user114" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser114@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 115 -->
	<sfdc:config name="config-user115" username="testuser115@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow115">
        <sfdc:subscribe-topic config-ref="config-user115" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser115@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 116 -->
	<sfdc:config name="config-user116" username="testuser116@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow116">
        <sfdc:subscribe-topic config-ref="config-user116" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser116@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 117 -->
	<sfdc:config name="config-user117" username="testuser117@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow117">
        <sfdc:subscribe-topic config-ref="config-user117" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser117@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 118 -->
	<sfdc:config name="config-user118" username="testuser118@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow118">
        <sfdc:subscribe-topic config-ref="config-user118" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser118@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 119 -->
	<sfdc:config name="config-user119" username="testuser119@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow119">
        <sfdc:subscribe-topic config-ref="config-user119" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser119@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 120 -->
	<sfdc:config name="config-user120" username="testuser120@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow120">
        <sfdc:subscribe-topic config-ref="config-user120" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser120@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 121 -->
	<sfdc:config name="config-user121" username="testuser121@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow121">
        <sfdc:subscribe-topic config-ref="config-user121" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser121@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 122 -->
	<sfdc:config name="config-user122" username="testuser122@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow122">
        <sfdc:subscribe-topic config-ref="config-user122" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser122@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 123 -->
	<sfdc:config name="config-user123" username="testuser123@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow123">
        <sfdc:subscribe-topic config-ref="config-user123" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser123@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 124 -->
	<sfdc:config name="config-user124" username="testuser124@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow124">
        <sfdc:subscribe-topic config-ref="config-user124" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser124@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 125 -->
	<sfdc:config name="config-user125" username="testuser125@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow125">
        <sfdc:subscribe-topic config-ref="config-user125" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser125@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 126 -->
	<sfdc:config name="config-user126" username="testuser126@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow126">
        <sfdc:subscribe-topic config-ref="config-user126" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser126@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 127 -->
	<sfdc:config name="config-user127" username="testuser127@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow127">
        <sfdc:subscribe-topic config-ref="config-user127" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser127@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 128 -->
	<sfdc:config name="config-user128" username="testuser128@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow128">
        <sfdc:subscribe-topic config-ref="config-user128" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser128@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 129 -->
	<sfdc:config name="config-user129" username="testuser129@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow129">
        <sfdc:subscribe-topic config-ref="config-user129" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser129@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 130 -->
	<sfdc:config name="config-user130" username="testuser130@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow130">
        <sfdc:subscribe-topic config-ref="config-user130" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser130@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 131 -->
	<sfdc:config name="config-user131" username="testuser131@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow131">
        <sfdc:subscribe-topic config-ref="config-user131" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser131@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 132 -->
	<sfdc:config name="config-user132" username="testuser132@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow132">
        <sfdc:subscribe-topic config-ref="config-user132" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser132@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 133 -->
	<sfdc:config name="config-user133" username="testuser133@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow133">
        <sfdc:subscribe-topic config-ref="config-user133" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser133@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 134 -->
	<sfdc:config name="config-user134" username="testuser134@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow134">
        <sfdc:subscribe-topic config-ref="config-user134" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser134@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 135 -->
	<sfdc:config name="config-user135" username="testuser135@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow135">
        <sfdc:subscribe-topic config-ref="config-user135" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser135@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 136 -->
	<sfdc:config name="config-user136" username="testuser136@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow136">
        <sfdc:subscribe-topic config-ref="config-user136" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser136@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 137 -->
	<sfdc:config name="config-user137" username="testuser137@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow137">
        <sfdc:subscribe-topic config-ref="config-user137" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser137@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 138 -->
	<sfdc:config name="config-user138" username="testuser138@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow138">
        <sfdc:subscribe-topic config-ref="config-user138" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser138@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 139 -->
	<sfdc:config name="config-user139" username="testuser139@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow139">
        <sfdc:subscribe-topic config-ref="config-user139" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser139@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 140 -->
	<sfdc:config name="config-user140" username="testuser140@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow140">
        <sfdc:subscribe-topic config-ref="config-user140" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser140@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 141 -->
	<sfdc:config name="config-user141" username="testuser141@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow141">
        <sfdc:subscribe-topic config-ref="config-user141" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser141@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 142 -->
	<sfdc:config name="config-user142" username="testuser142@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow142">
        <sfdc:subscribe-topic config-ref="config-user142" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser142@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 143 -->
	<sfdc:config name="config-user143" username="testuser143@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow143">
        <sfdc:subscribe-topic config-ref="config-user143" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser143@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 144 -->
	<sfdc:config name="config-user144" username="testuser144@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow144">
        <sfdc:subscribe-topic config-ref="config-user144" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser144@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 145 -->
	<sfdc:config name="config-user145" username="testuser145@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow145">
        <sfdc:subscribe-topic config-ref="config-user145" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser145@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 146 -->
	<sfdc:config name="config-user146" username="testuser146@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow146">
        <sfdc:subscribe-topic config-ref="config-user146" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser146@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 147 -->
	<sfdc:config name="config-user147" username="testuser147@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow147">
        <sfdc:subscribe-topic config-ref="config-user147" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser147@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 148 -->
	<sfdc:config name="config-user148" username="testuser148@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow148">
        <sfdc:subscribe-topic config-ref="config-user148" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser148@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 149 -->
	<sfdc:config name="config-user149" username="testuser149@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow149">
        <sfdc:subscribe-topic config-ref="config-user149" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser149@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 150 -->
	<sfdc:config name="config-user150" username="testuser150@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow150">
        <sfdc:subscribe-topic config-ref="config-user150" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser150@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 151 -->
	<sfdc:config name="config-user151" username="testuser151@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow151">
        <sfdc:subscribe-topic config-ref="config-user151" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser151@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 152 -->
	<sfdc:config name="config-user152" username="testuser152@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow152">
        <sfdc:subscribe-topic config-ref="config-user152" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser152@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 153 -->
	<sfdc:config name="config-user153" username="testuser153@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow153">
        <sfdc:subscribe-topic config-ref="config-user153" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser153@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 154 -->
	<sfdc:config name="config-user154" username="testuser154@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow154">
        <sfdc:subscribe-topic config-ref="config-user154" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser154@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 155 -->
	<sfdc:config name="config-user155" username="testuser155@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow155">
        <sfdc:subscribe-topic config-ref="config-user155" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser155@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 156 -->
	<sfdc:config name="config-user156" username="testuser156@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow156">
        <sfdc:subscribe-topic config-ref="config-user156" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser156@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 157 -->
	<sfdc:config name="config-user157" username="testuser157@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow157">
        <sfdc:subscribe-topic config-ref="config-user157" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser157@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 158 -->
	<sfdc:config name="config-user158" username="testuser158@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow158">
        <sfdc:subscribe-topic config-ref="config-user158" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser158@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 159 -->
	<sfdc:config name="config-user159" username="testuser159@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow159">
        <sfdc:subscribe-topic config-ref="config-user159" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser159@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 160 -->
	<sfdc:config name="config-user160" username="testuser160@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow160">
        <sfdc:subscribe-topic config-ref="config-user160" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser160@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 161 -->
	<sfdc:config name="config-user161" username="testuser161@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow161">
        <sfdc:subscribe-topic config-ref="config-user161" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser161@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 162 -->
	<sfdc:config name="config-user162" username="testuser162@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow162">
        <sfdc:subscribe-topic config-ref="config-user162" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser162@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 163 -->
	<sfdc:config name="config-user163" username="testuser163@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow163">
        <sfdc:subscribe-topic config-ref="config-user163" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser163@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 164 -->
	<sfdc:config name="config-user164" username="testuser164@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow164">
        <sfdc:subscribe-topic config-ref="config-user164" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser164@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 165 -->
	<sfdc:config name="config-user165" username="testuser165@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow165">
        <sfdc:subscribe-topic config-ref="config-user165" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser165@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 166 -->
	<sfdc:config name="config-user166" username="testuser166@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow166">
        <sfdc:subscribe-topic config-ref="config-user166" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser166@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 167 -->
	<sfdc:config name="config-user167" username="testuser167@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow167">
        <sfdc:subscribe-topic config-ref="config-user167" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser167@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 168 -->
	<sfdc:config name="config-user168" username="testuser168@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow168">
        <sfdc:subscribe-topic config-ref="config-user168" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser168@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 169 -->
	<sfdc:config name="config-user169" username="testuser169@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow169">
        <sfdc:subscribe-topic config-ref="config-user169" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser169@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 170 -->
	<sfdc:config name="config-user170" username="testuser170@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow170">
        <sfdc:subscribe-topic config-ref="config-user170" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser170@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 171 -->
	<sfdc:config name="config-user171" username="testuser171@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow171">
        <sfdc:subscribe-topic config-ref="config-user171" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser171@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 172 -->
	<sfdc:config name="config-user172" username="testuser172@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow172">
        <sfdc:subscribe-topic config-ref="config-user172" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser172@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 173 -->
	<sfdc:config name="config-user173" username="testuser173@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow173">
        <sfdc:subscribe-topic config-ref="config-user173" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser173@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 174 -->
	<sfdc:config name="config-user174" username="testuser174@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow174">
        <sfdc:subscribe-topic config-ref="config-user174" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser174@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 175 -->
	<sfdc:config name="config-user175" username="testuser175@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow175">
        <sfdc:subscribe-topic config-ref="config-user175" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser175@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 176 -->
	<sfdc:config name="config-user176" username="testuser176@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow176">
        <sfdc:subscribe-topic config-ref="config-user176" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser176@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 177 -->
	<sfdc:config name="config-user177" username="testuser177@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow177">
        <sfdc:subscribe-topic config-ref="config-user177" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser177@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 178 -->
	<sfdc:config name="config-user178" username="testuser178@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow178">
        <sfdc:subscribe-topic config-ref="config-user178" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser178@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 179 -->
	<sfdc:config name="config-user179" username="testuser179@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow179">
        <sfdc:subscribe-topic config-ref="config-user179" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser179@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 180 -->
	<sfdc:config name="config-user180" username="testuser180@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow180">
        <sfdc:subscribe-topic config-ref="config-user180" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser180@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 181 -->
	<sfdc:config name="config-user181" username="testuser181@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow181">
        <sfdc:subscribe-topic config-ref="config-user181" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser181@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 182 -->
	<sfdc:config name="config-user182" username="testuser182@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow182">
        <sfdc:subscribe-topic config-ref="config-user182" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser182@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 183 -->
	<sfdc:config name="config-user183" username="testuser183@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow183">
        <sfdc:subscribe-topic config-ref="config-user183" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser183@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 184 -->
	<sfdc:config name="config-user184" username="testuser184@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow184">
        <sfdc:subscribe-topic config-ref="config-user184" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser184@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 185 -->
	<sfdc:config name="config-user185" username="testuser185@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow185">
        <sfdc:subscribe-topic config-ref="config-user185" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser185@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 186 -->
	<sfdc:config name="config-user186" username="testuser186@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow186">
        <sfdc:subscribe-topic config-ref="config-user186" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser186@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 187 -->
	<sfdc:config name="config-user187" username="testuser187@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow187">
        <sfdc:subscribe-topic config-ref="config-user187" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser187@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 188 -->
	<sfdc:config name="config-user188" username="testuser188@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow188">
        <sfdc:subscribe-topic config-ref="config-user188" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser188@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 189 -->
	<sfdc:config name="config-user189" username="testuser189@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow189">
        <sfdc:subscribe-topic config-ref="config-user189" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser189@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 190 -->
	<sfdc:config name="config-user190" username="testuser190@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow190">
        <sfdc:subscribe-topic config-ref="config-user190" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser190@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 191 -->
	<sfdc:config name="config-user191" username="testuser191@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow191">
        <sfdc:subscribe-topic config-ref="config-user191" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser191@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 192 -->
	<sfdc:config name="config-user192" username="testuser192@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow192">
        <sfdc:subscribe-topic config-ref="config-user192" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser192@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 193 -->
	<sfdc:config name="config-user193" username="testuser193@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow193">
        <sfdc:subscribe-topic config-ref="config-user193" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser193@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 194 -->
	<sfdc:config name="config-user194" username="testuser194@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow194">
        <sfdc:subscribe-topic config-ref="config-user194" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser194@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 195 -->
	<sfdc:config name="config-user195" username="testuser195@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow195">
        <sfdc:subscribe-topic config-ref="config-user195" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser195@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 196 -->
	<sfdc:config name="config-user196" username="testuser196@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow196">
        <sfdc:subscribe-topic config-ref="config-user196" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser196@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 197 -->
	<sfdc:config name="config-user197" username="testuser197@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow197">
        <sfdc:subscribe-topic config-ref="config-user197" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser197@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 198 -->
	<sfdc:config name="config-user198" username="testuser198@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow198">
        <sfdc:subscribe-topic config-ref="config-user198" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser198@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 199 -->
	<sfdc:config name="config-user199" username="testuser199@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow199">
        <sfdc:subscribe-topic config-ref="config-user199" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser199@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

<!-- Config for User # 200 -->
	<sfdc:config name="config-user200" username="testuser200@mulesoft.test"
                 password="demo2" securityToken="mule!" />

	<!-- 1 -->
    <flow name="topicAllAccountsFlow200">
        <sfdc:subscribe-topic config-ref="config-user200" topic="/AllAccounts"/>
		<message-properties-transformer scope="outbound">
			<add-message-property key="receivedtime" value="#[function:now]" />
			<add-message-property key="sfdcuser" value="testuser200@mulesoft.test" />
			<add-message-property key="objecttype" value="account" />
			<add-message-property key="topic" value="allaccounts" />
		</message-properties-transformer>
		<vm:outbound-endpoint path="insertsobjecttestrecord.in" exchange-pattern="one-way" />
    </flow>
    

	
</mule>
