src/test/resources/mule-simple-sfdcaccount.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" 
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" 
	xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml" 
	xmlns:client="http://www.mulesoft.org/schema/mule/client"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns:intacct="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-intacct"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/current/mule-jdbc.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
        http://www.mulesoft.org/schema/mule/client http://www.mulesoft.org/schema/mule/client/current/mule-client.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
        http://repository.mulesoft.org/releases/org/mule/modules/mule-module-intacct http://repository.mulesoft.org/releases/org/mule/modules/mule-module-intacct/1.0-SNAPSHOT/mule-intacct.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">

	<description>
		SFDC to Intacct Won Opportunity -> Invoice integration for internal
		consumption
	</description>

	<context:property-placeholder location="credentials.dev.properties" />

	<sfdc:config name="salesforce" username="${sfdc.core.username}" password="${sfdc.core.password}" securityToken="${sfdc.core.securityToken}" url="https://login.salesforce.com/services/Soap/u/23.0" />


	<flow name="createtestaccount">
		<vm:inbound-endpoint path="testcreateaccount.in" exchange-pattern="request-response" />
		<logger message="Now? #[function:now]" level="INFO" />
		<logger message="IP? #[function:ip]" level="INFO" />
		<logger message="Headers? #[headers:*]" level="INFO" />
		<sfdc:create type="Account">
			<sfdc:objects>
				<sfdc:object>
					<Name>Test Account Number</Name>
					<Tracking_Number__c>#[function:systime]</Tracking_Number__c>
				</sfdc:object>
			</sfdc:objects>
		</sfdc:create>
	</flow>

</mule>
